@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100; */
}

body {
    background-image: linear-gradient(to right, #A3AB78, #818274);
}

main {
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6e8321bd  ;
    background-color: white; width: 600px; padding: 10px;
    margin: auto
}

h1 {
    color: #10454F;
    text-align: center;
    text-shadow: 1px 1px 2px #092930c7;

}

h2 {
    color: #506266 ;
}

p {
    text-align: justify;
}